<%- include('./partials/header') %>

<p id="homeMsg">Post your Writing or Read others! (Voting coming soon!)</p>
<img id="homeImgOne" src="https://images.freeimages.com/images/large-previews/406/writing-1240442.jpg">

<%- include('./partials/footer') %>