  <!-- home page display and selection area -->
 <!-- <main>
  <section class="homeBox">
    <div>
      <label id="genre">Choose a Genre:</label>
      <select class="dropdown">
        <option value="top-5">Top 3</option>
        <option value="flashFict">Best Flash</option>
        <option value="shorts">Best Short Stories</option>
        <option value="poems">Best Poems</option>
      </select>
      <div id="myLinks" class="dropdown-content">
        <a href="user.id" id="authorLinkA">Author</a>
      </div>
    </div>
  </section> -->
  <!-- <a href="/posts/<%= p._id %>"> <%= title._id %> </a> -->

  <!-- <form id="searchBar" action="/posts" method="GET">
    <input type="text" placeholder="Search Authors..." name="authorName">
    <button><i class="fas fa-search"></i>Search</button>
  </form> -->