body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 100px;

}

.home {
  color: #e7ebed;
  text-decoration: none;
  float: left;
  width: 100vh;
  font-size: xx-large;
}

#login {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 34px;
  color: #e7ebed;
  text-decoration: none;
}

#login img {
  height: 2em;
}

html {
  background: url(https://cdn.pixabay.com/photo/2015/10/20/19/35/calligraphy-998331_1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.displayTopHome {
  border: black solid ;
}

.homeBox {
  display: flex;
  justify-content: flex-start;
  border: solid black;
}

#authorLink {
  display: flex;
  flex-direction: column;
  color: #e7ebed;
  padding: 1em;
}

#genre {
  color: #e7ebed;
}

#profile {
  font-size: 2em;
}

.dropdown {
  float: right;
}

#navPosts {
  padding-left: 1em;
}