<%- include('../partials/header') %>
<!--------- top 5 box ------------>
<main class="homeBox">
  <div>dropdown title:</div>
  <div>1st place story</div>
  <div>2nd place story</div>
  <div>3rd place story</div>
  <div>4th place story</div>
  <div>5th place story</div>

<%- include('../partials/footer') %>