<%- include('../partials/header') %>

  <h2 id="eTitle">Posts</h2>
  <% if (user) { %>
    <form method="POST" action="/posts">
      <input id="edit" name="title" type="text" value="Title">
      <input id="edit" name="genre" type="text" value="Genre">
      <textarea id="contentBox" name="content"></textarea>
      <input id="addBtn" type="submit" value="Add Post">
    </form>
  <% } %>

<%- include('../partials/footer') %>