<%- include('../partials/header') %>

  <h2 id="postPage">Posts</h2>
  <% if (user) { %>
    <form id="add-post" method="POST" action="/posts">
      <label>Post:</label>
      <input name="title" type="text" value="Title">
      <input name="genre" type="text" value="Genre">
      <textarea name="content"></textarea>
      <input type="submit" value="Add Post">
    </form>
  <% } %>

<%- include('../partials/footer') %>