<%- include('../partials/header') %>

  <h2 id="postPage">Post</h2>
  <% if (user) { %>
    <form id="add-writing-form" method="POST" action="/posts">
      <label>Post:</label>
      <input type="text" value="Title">
      <input type="text" value="Genre">
      <textarea name="content"></textarea>
      <input type="submit" value="Add Post">
    </form>
    <% } %>

      <%- include('../partials/footer') %>