<%- include('../partials/header') %>

  <h2 class="pTitle">Posts</h2>
  <% if (user) { %>
    <form class="addPost" method="POST" action="/posts">
      <input name="title" type="text" value="Title">
      <input name="genre" type="text" value="Genre">
      <textarea id="contentBox" name="content"></textarea>
      <input type="submit" value="Add Post">
    </form>
  <% } %>

<%- include('../partials/footer') %>